$width: 65ch;

html {
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
}

body {
    margin: 0 0.5em;
}

pre, code {
    max-width: 100%;
    overflow-x: auto;
    font-family: Inconsolata, monospace;
}

h1, h2, h3, h4, h5, h6, .header {
    font-family: Faustina, sans-serif;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.75rem; }

p {
    line-height: 1.45;
}

.header {
    &__title {
        line-height: 1;
        margin-bottom: 0;
    }

    &__name {
        margin-top: 0;
    }
}

.main {
    margin-bottom: 2em;

    &__post_list {
        margin: 1em 0;

        &__heading {
            margin-bottom: 0;
        }
    }

    &__post {
        &__title {
            margin: 0;
        }

        &__date {
            margin-top: 0;
            font-size: 0.75em;
        }

        &__description {
            margin-top: 0.4em;
        }
    }
}

.post {
    &__heading {
        margin-bottom: 0;
    }

    &__header {
        margin-bottom: 2em;
    }

    &__footer {
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 35em) {
    html {
        overflow-y: scroll;
        font-size: 18px;
    }

    body {
        width: 100%;
        max-width: $width;
        margin: 0 auto;
    }
}

@media screen and (prefers-color-scheme: dark) {
    * {
        background-color: black;
    }

    html {
        color: white;
    }

    a {
        &:link {
            color: #009CFF;
        }

        &:visited {
            color: #E561FF;
        }
    }
}
